<div class="md-inline-form" style="margin-top: 5px">
    <h2>Cadastro de Novo Bebê</h2>
    <md-content layout-padding>
        <md-whiteframe class="md-whiteframe-2dp" layout>
            <form layout="column" flex>
                <md-input-container>
                    <label>Nome</label>
                    <input ng-model="bbCreateCtrl.novoBB.b_nome">
                </md-input-container>

                <md-radio-group ng-model="bbCreateCtrl.novoBB.b_sexo">
                  <md-radio-button value="m" class="md-primary">Masculino</md-radio-button>
                  <md-radio-button value="f"> Feminino </md-radio-button>
                </md-radio-group>

                <md-input-container>
                    <label>Naturalidade</label>
                    <input ng-model="bbCreateCtrl.novoBB.b_naturalidade">
                </md-input-container>

                <md-input-container layout="column">
                    <label style="margin-bottom: 20px">Foto do Bebê</label>
                </md-input-container>
                <input ng-model="bbCreateCtrl.novoBB.b_foto" type="file">

                <md-input-container>
                    <label>Observações</label>
                    <input type="text" ng-model="bbCreateCtrl.novoBB.b_obs">
                </md-input-container>

                <md-autocomplete flex required
                                 md-input-name="autocompleteField"
                                 md-input-minlength="2"
                                 md-input-maxlength="18"
                                 md-selected-item="bbCreateCtrl.selectedResp"
                                 md-search-text="bbCreateCtrl.searchText"
                                 md-items="item in bbCreateCtrl.querySearch(bbCreateCtrl.searchText)"
                                 md-item-text="item.p_nome"
                                 md-floating-label="Responsável do Bebê">
                    <md-item-template>
                        <span md-highlight-text="bbCreateCtrl.searchText">{{item.p_nome}}</span>
                    </md-item-template>
                </md-autocomplete>

              <div layout="row" layout-align="end center">
                    <div>
                        <md-button class="md-raised md-primary" ng-click="bbCreateCtrl.create($event)">Salvar
                        </md-button>
                    </div>
                </div>
            </form>
        </md-whiteframe>
    </md-content>
</div>
