<div>
    <md-list>
        <h2>Lista de Bebês</h2>
        <md-button class="md-raised md-primary" ng-click="bbLCtrl.cadastrar()">Cadastrar Novo</md-button>
        <md-list-item ng-repeat="bb in bbLCtrl.bebe" ng-click="bbLCtrl.goToPerson(bb.b_id)">
            <md-icon md-svg-icon="assets/svg/avatar-1.svg" class="avatar"></md-icon>
            <p>{{ bb.b_nome }}</p>
            <md-icon md-svg-icon="communication:messenger"  aria-label="Edit"
                     class="md-secondary md-hue-3"></md-icon>
        </md-list-item>


    </md-list>
</div>
