<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Bebê</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Nome</h2>
                <p>{{user.b_nome}}</p>
                <h2>Sexo</h2>
                <p>{{user.b_sexo}}</p>
                <h2>Naturalidade</h2>
                <p>{{user.b_naturalidade}}</p>
                <h2>Observações</h2>
                <p>{{user.b_obs}}</p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-icon-button" ng-click="editar($event)" aria-label="Edit">
                <ng-md-icon icon="create" size="20"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="remover($event)" aria-label="Delete">
                <ng-md-icon icon="delete" size="20"></ng-md-icon>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>